In [2]:
import numpy as np
import pandas as pd

In [7]:
# загружаем данные
phones = pd.read_csv("data/1.8_phones.csv")

In [25]:
phones.head(17)

    disk       os  price  year   os_d
0     64  Android   7256  2016   True
1    128  Android   7623  2015   True
2     64  Android   1916  2010   True
3    512      iOS  15045  2017  False
4     16  Android   4478  2013   True
5    512      iOS  15842  2018  False
6    128  Android   7191  2015   True
7     64  Android   4277  2013   True
8    512      iOS  12797  2015  False
9     64  Android   6256  2015   True
10   512      iOS  13788  2016  False
11   128  Android  10729  2018   True
12   512      iOS   9392  2012  False
13   128  Android   5416  2013   True
14   256      iOS   7334  2012  False
15    16  Android   1890  2011   True
16   512      iOS  12571  2015  False

In [20]:
# Заменяем поле 'os' числовым аналогом
phones['os_d']=phones['os']=='Android'

In [21]:
phones

    disk       os  price  year   os_d
0     64  Android   7256  2016   True
1    128  Android   7623  2015   True
2     64  Android   1916  2010   True
3    512      iOS  15045  2017  False
4     16  Android   4478  2013   True
..   ...      ...    ...   ...    ...
95   512      iOS   8398  2011  False
96    64  Android   7197  2016   True
97    32  Android   5694  2014   True
98    32  Android   7589  2016   True
99   256      iOS   9533  2014  False

[100 rows x 5 columns]

In [9]:
# импортируем модуль, отвечающий за деревья решений
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [22]:
# выгружаем признаки и целевые значения в отдельные переменные
X = phones[["disk", "year", "os_d"]]
y = phones["price"]

# создаем классификатор
cl = DecisionTreeClassifier().fit(X, y)

In [23]:
# выведем информацию для интерпретации построенной модели
print(export_text(cl))

|--- feature_1 <= 2017.50
|   |--- feature_1 <= 2010.50
|   |   |--- feature_0 <= 24.00
|   |   |   |--- class: 1599
|   |   |--- feature_0 >  24.00
|   |   |   |--- feature_0 <= 48.00
|   |   |   |   |--- class: 1464
|   |   |   |--- feature_0 >  48.00
|   |   |   |   |--- feature_0 <= 160.00
|   |   |   |   |   |--- class: 1435
|   |   |   |   |--- feature_0 >  160.00
|   |   |   |   |   |--- feature_0 <= 384.00
|   |   |   |   |   |   |--- class: 4608
|   |   |   |   |   |--- feature_0 >  384.00
|   |   |   |   |   |   |--- class: 8020
|   |--- feature_1 >  2010.50
|   |   |--- feature_1 <= 2011.50
|   |   |   |--- feature_2 <= 0.50
|   |   |   |   |--- feature_0 <= 384.00
|   |   |   |   |   |--- class: 5982
|   |   |   |   |--- feature_0 >  384.00
|   |   |   |   |   |--- class: 8392
|   |   |   |--- feature_2 >  0.50
|   |   |   |   |--- feature_0 <= 24.00
|   |   |   |   |   |--- class: 1890
|   |   |   |   |--- feature_0 >  24.00
|   |   |   |   |   |--- feature_0 <= 48.00
|   |   |   |   |   |   |--- class: 2402
|   |   |   |   |   |--- feature_0 >  48.00
|   |   |   |   |   |   |--- feature_0 <= 96.00
|   |   |   |   |   |   |   |--- class: 2277
|   |   |   |   |   |   |--- feature_0 >  96.00
|   |   |   |   |   |   |   |--- class: 3103
|   |   |--- feature_1 >  2011.50
|   |   |   |--- feature_0 <= 24.00
|   |   |   |   |--- feature_1 <= 2012.50
|   |   |   |   |   |--- class: 2780
|   |   |   |   |--- feature_1 >  2012.50
|   |   |   |   |   |--- feature_1 <= 2013.50
|   |   |   |   |   |   |--- class: 4473
|   |   |   |   |   |--- feature_1 >  2013.50
|   |   |   |   |   |   |--- feature_1 <= 2014.50
|   |   |   |   |   |   |   |--- class: 4832
|   |   |   |   |   |   |--- feature_1 >  2014.50
|   |   |   |   |   |   |   |--- feature_1 <= 2015.50
|   |   |   |   |   |   |   |   |--- class: 5814
|   |   |   |   |   |   |   |--- feature_1 >  2015.50
|   |   |   |   |   |   |   |   |--- feature_1 <= 2016.50
|   |   |   |   |   |   |   |   |   |--- class: 7091
|   |   |   |   |   |   |   |   |--- feature_1 >  2016.50
|   |   |   |   |   |   |   |   |   |--- class: 8081
|   |   |   |--- feature_0 >  24.00
|   |   |   |   |--- feature_0 <= 48.00
|   |   |   |   |   |--- feature_1 <= 2013.50
|   |   |   |   |   |   |--- class: 3835
|   |   |   |   |   |--- feature_1 >  2013.50
|   |   |   |   |   |   |--- feature_1 <= 2014.50
|   |   |   |   |   |   |   |--- class: 5048
|   |   |   |   |   |   |--- feature_1 >  2014.50
|   |   |   |   |   |   |   |--- feature_1 <= 2015.50
|   |   |   |   |   |   |   |   |--- class: 6330
|   |   |   |   |   |   |   |--- feature_1 >  2015.50
|   |   |   |   |   |   |   |   |--- feature_1 <= 2016.50
|   |   |   |   |   |   |   |   |   |--- class: 7282
|   |   |   |   |   |   |   |   |--- feature_1 >  2016.50
|   |   |   |   |   |   |   |   |   |--- class: 8292
|   |   |   |   |--- feature_0 >  48.00
|   |   |   |   |   |--- feature_1 <= 2012.50
|   |   |   |   |   |   |--- feature_0 <= 384.00
|   |   |   |   |   |   |   |--- class: 6793
|   |   |   |   |   |   |--- feature_0 >  384.00
|   |   |   |   |   |   |   |--- class: 9392
|   |   |   |   |   |--- feature_1 >  2012.50
|   |   |   |   |   |   |--- feature_0 <= 96.00
|   |   |   |   |   |   |   |--- feature_1 <= 2014.00
|   |   |   |   |   |   |   |   |--- class: 4277
|   |   |   |   |   |   |   |--- feature_1 >  2014.00
|   |   |   |   |   |   |   |   |--- feature_1 <= 2015.50
|   |   |   |   |   |   |   |   |   |--- class: 6256
|   |   |   |   |   |   |   |   |--- feature_1 >  2015.50
|   |   |   |   |   |   |   |   |   |--- feature_1 <= 2016.50
|   |   |   |   |   |   |   |   |   |   |--- class: 7197
|   |   |   |   |   |   |   |   |   |--- feature_1 >  2016.50
|   |   |   |   |   |   |   |   |   |   |--- class: 9022
|   |   |   |   |   |   |--- feature_0 >  96.00
|   |   |   |   |   |   |   |--- feature_2 <= 0.50
|   |   |   |   |   |   |   |   |--- feature_1 <= 2013.50
|   |   |   |   |   |   |   |   |   |--- feature_0 <= 384.00
|   |   |   |   |   |   |   |   |   |   |--- class: 7698
|   |   |   |   |   |   |   |   |   |--- feature_0 >  384.00
|   |   |   |   |   |   |   |   |   |   |--- class: 10182
|   |   |   |   |   |   |   |   |--- feature_1 >  2013.50
|   |   |   |   |   |   |   |   |   |--- feature_0 <= 384.00
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 2014.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 8855
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  2014.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |   |   |--- feature_0 >  384.00
|   |   |   |   |   |   |   |   |   |   |--- feature_1 <= 2014.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 11789
|   |   |   |   |   |   |   |   |   |   |--- feature_1 >  2014.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 3
|   |   |   |   |   |   |   |--- feature_2 >  0.50
|   |   |   |   |   |   |   |   |--- feature_1 <= 2014.00
|   |   |   |   |   |   |   |   |   |--- class: 4993
|   |   |   |   |   |   |   |   |--- feature_1 >  2014.00
|   |   |   |   |   |   |   |   |   |--- feature_1 <= 2015.50
|   |   |   |   |   |   |   |   |   |   |--- class: 6958
|   |   |   |   |   |   |   |   |   |--- feature_1 >  2015.50
|   |   |   |   |   |   |   |   |   |   |--- class: 8556
|--- feature_1 >  2017.50
|   |--- feature_0 <= 192.00
|   |   |--- feature_0 <= 96.00
|   |   |   |--- class: 9503
|   |   |--- feature_0 >  96.00
|   |   |   |--- class: 10729
|   |--- feature_0 >  192.00
|   |   |--- feature_0 <= 384.00
|   |   |   |--- class: 13422
|   |   |--- feature_0 >  384.00
|   |   |   |--- class: 15647

In [24]:
# проведем классификацию
cl.predict(X[7:8])[0], y[7]

(4277, 4277)

In [27]:
cl.predict(X[6:8])

array([6958, 4277])